.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.local
*.log
*.pem
*.tsbuildinfo
node_modules
npm-debug.log*
pnpm-debug.log*
screenshots/
yarn-debug.log*
yarn-error.log*
